.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /*.contenedor img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }*/
  /*.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .contenedor img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }*/